<div id ="blog_description">
   <%= @tag.description %>
</div>
<% if user_signed_in? %>

<div id ="tag_form">
<%=  render "tags/form" %>

</div>
<% end %>
<div id="blog_list">
<%= render @blogs %>
</div>
<br>
<% if current_user %>
    <div id="new_blog_form">
    <%= render "blogs/form" %>
    </div>
<% end %>


