
<% div_movie_id = "movies_#{movie.id}" -%>
<div id="movie_info">
<h3><%= movie.name %></h3>
<%= raw(movie.description) %>
</div>
<div id="<%= div_movie_id -%>">
<%= ratings_for movie,current_user %>
 </div>