<div id="about">
    <p>
    My name is Trevor Umeda (as I'm sure you can tell already). I've gotten a degree in Computer Science from UCI and
    currently attending Carnegie Mellon Silicon Valley for my masters in Software Development. I'm most proficient in
    Java and Ruby on Rails though can adapt to any Object Oriented language pretty quickly.

    This site was made to be my portfolio. In the future I may set up a blog system as well.
    This site was coded in Ruby on Rails which some may say is an odd choice.
    I don't have much web design experience, but I do have experience with RoR so I wanted to make a site
    functioned as a webapp, meaning I can easily update it without having to really change code.
    If anyone is reading this now, I'm sure you'll find the site to be pretty ugly.
    </p>
</div>