<%= form_for @tag, :remote => true do |tag|%>
       <div class="field">
         <%= tag.label :description %><br />
         <%= tag.text_area :description, :rows => 2 %>
       </div>

       <div class="actions">
         <%= tag.submit %>
       </div>

 <% end %>