/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Reset Body Property */

 * {
margin:0;
padding:0;

}
html {
margin:0;
padding:0;
color:#000;

}
#wrap{
    width: 800px;
    margin:0 auto;
}
#navbar, #int-site{
margin:0 auto;
}
/*------------------*/
/* LOGO */
#logo{
    height:54px;
    background:#000000 left top;

}
#logo p{
    color:#FFFFFF;
    font-size: 30px;
    font-weight:bold;
    margin-left:20px;
    padding-top: 20px;
    text-decoration:none;
}
/*------------------*/
/* Nav Bar */
#navbar{
height:26px;
line-height:26px;
}

#navbar-container{
    background:#000;

}

#navbar a:link, #navbar a:visited, #navbar a:hover{
    float: right;
    color:#FFFFFF;
    font-weight:bold;
    margin-right:20px;
    text-decoration:none;
}
#int-site-container{
/*background:url(../images/rails.png) left top repeat-x;*/
    height:200px;
    padding-top: 2em;
}
#left_column{
    float:left;
    padding-bottom: 1em;
    width: 8em;
    padding-left: 2em;

}
#int-site{
//background:url() left top no-repeat;
    float: right;

    width:600px;

}
#footer {
clear:both;
}
#projects{
 padding-top: 2em;
}
#blog_description{
    padding-bottom: 20px;
    font-size: larger;
    font-weight: bolder;

}
#blog_tags{
    padding-top: 20px;
}
#blog{
    border-bottom: 1px solid;
    border-bottom-color: black;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#blog_title{
    font-size: larger;
    font-weight: bolder;
}
#blog_date{
    float: right;

}
#blog_post{
    padding-top: .5em;
    padding-bottom: 1em;
}
.hoverbox
{
	cursor: default;
	list-style: none;
}
.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 75px;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
	width: 200px;
	height: 150px;
}
