/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Reset Body Property */

html {
margin:0;
padding:0;

background: url("sitebg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
height: 1000px;


}
body {

    //background:black;
    padding-bottom: 20px;

}
#wrap{
    width: 900px;
    margin:0 auto;
    background-size: 100%;
    background: #FFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow:1px 1px 2px #888;

}
#navbar, #int-site{
margin:0 auto;
}
/*------------------*/
/* LOGO */
#logo{
    height:200px;
    width:900px;
    margin:0 auto;
    background: url("siteheader2.png") no-repeat;
        background-size: 100%;
}
#header{
    background-size: 100%;
}
#logo p{
    font-size: 30px;
    font-weight:bold;
    margin-left:20px;
    padding-top: 20px;
    text-decoration:none;


}
/*------------------*/
/* Nav Bar */
#navbar{
padding-top: 5px;
height:26px;
line-height:26px;
}

#navbar-container{

}

#navbar a:link, #navbar a:visited{
    float: right;
    color:#000;
    font-weight:bold;
    margin-right:40px;
    text-decoration:none;
}
#navbar a:hover{
  background-color:#FFFFFF;
}
#int-site-container{
    background-size: 100%;
}
#left_column{
    top:-10px;
    float:left;
    width:220px;  /* for IE5/WIN */
    width:200px; /* actual value */
    margin:0 0 -10px 0;
    padding:10px;
    z-index:100;
}
#right_column{
    top:-10px;
    padding:10px;
    margin:0 0 -10px 0;

    float:right;

}
#contact_info{
    width:150px;
text-align: center;
    -moz-border-radius: 15px;
       border-radius: 15px;
    border: 1px solid darkgray;
    background:#E4E6E0;
    box-shadow:1px 1px 2px #888;
    padding: 10px 5px 5px 5px;
    font-size: 15px;
    font-weight: bold;
}

#int-site{
  	padding:0 190px;
    background-size: 100%;
    background: #FFF;
}

#footer {
//    background: url("sitebg.jpg") top repeat-y;
    background-size: 100%;
    padding-top: 50px;

}
#projects{
 padding-top: 2em;
 margin-left: -10em;
 width: 700px;
 padding-bottom: 200px;
}
#projects h1{
    margin-left: 10em;
}
.language_project{
    height:120px;
}
#project_name p{
    font-size: large;
}
img.main_image{
    width:520px;
}
#movies{
    padding-top:2em;
}
#review{
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
#blog_description{
    padding-bottom: 20px;
    font-size: larger;
    font-weight: bolder;

}
#blog_tags{
    padding-top: 20px;
}
#blog{
    border: 1px solid;
    border-bottom-color: black;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#blog_header{
    background-color: black;
    color:white;
}
#blog_title{
    font-size: larger;
    font-weight: bolder;
    padding-left: 5px;
}
#blog_date{
    float: right;
    padding-right: 5px;

}
#blog_content{
   padding-right: 5px;
   padding-left: 5px;
}
#created_blog_post{
    padding-top: .5em;
    padding-bottom: 1em;
}
#pagination{
    padding-bottom:2em;
}

.hoverbox{
	cursor: default;
	list-style: none;
}
.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview{
	display: none;
}

.hoverbox a:hover .preview{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 75px;
}

.hoverbox li{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
	width: 200px;
	height: 150px;
}
