<div id="logo">
  <p> Trevor Umeda</p>
</div>
<div id="navbar-container">
<div id="navbar">
  <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, :action => :delete %>
  <% end %>
  <%= link_to "About", about_path %>
  <%= link_to "Portfolio", root_path %>
  <%= link_to "Blog", '/blog' %>

</div>
</div>